extends layout

block content
  div.row
    div.col-sm-2
      - var favorite = favoriteInfo
      - var favoriteLabels = ['お気に入りに追加','お気に入りから削除']
      button(
        data-user-id=user.id
        data-combination-id=combination.combinationId
        data-favorite=favorite).favorite-button #{favoriteLabels[favorite]}
    div.col-sm-5
      div.card
        div.card-body
          h5.card-title #{combination.combination[0]}
          hr
          - var hasDescription = combination.descriptions[0] !== ''
          if hasDescription
            p(style="font-size: 80%;").card-text.text-muted #{combination.descriptions[0]}
          else
            p(style="font-size: 80%;").card-text.text-muted No description
    div.col-sm-5
      div.card
        div.card-body
          h5.card-title #{combination.combination[1]}
          hr
          - var hasDescription = combination.descriptions[1] !== ''
          if hasDescription
            p(style="font-size: 80%;").card-text.text-muted #{combination.descriptions[1]}
          else
            p(style="font-size: 80%;").card-text.text-muted No description
  div
    textarea(name="comment")
    button(
      data-combination-id=combination.combinationId)#comment-button 送信
  div
    h3 コメント
    hr
    div#comment-area
      - var hasComment = comments.length > 0
      if hasComment
        each comment in comments
          div(id=`${comment.commentNumber}` style="position: relative; padding-top: 24px;" )
            a(href=`/users/${comment.createdBy}/mywords`, style="font-size: 80%; position: absolute; top: 0px; left: 0px;") #{comment.user.username}
            div(style="font-size: 80%; position: absolute; top: 0px; right: 0px;") #{comment.formattedCreatedAt}
            div(style="width: 95%; white-space: pre-wrap; margin-top: 10px;") #{comment.comment}
            - var isMine = parseInt(user.id) === comment.createdBy
            if isMine
              button(style="position: absolute; top: 34px; right: 0px"
                data-combination-id=comment.combinationId
                data-comment-number=comment.commentNumber).delete-button.btn.btn-outline-danger.btn-sm 削除
            hr
