extends layout

block content
  div.row.mt-3
    div.col-sm-2
      - var favorite = favoriteInfo
      - var favoriteIconColor = ['md-dark', 'favorite-icon-pink']
      div.favorite-action
        div(
          data-user-id=user.id
          data-combination-id=combination.combinationId
          data-favorite=favorite).favorite-button
          i(class=`material-icons md-36 favorite-icon ${favoriteIconColor[favorite]}`) favorite_border
        span.favorite-counter #{combination.favoriteCounter}
    div.col-sm-5
      div.card
        - var firstWord = wordMap.get(combination.firstWordId)
        div.card-header
          span.word-username #{firstWord.username}
          span.word-creation-day #{firstWord.formattedCreatedAt}
          if firstWord.isUpdated
            span.small-font.text-muted (編集済)
        div.card-body
          h5.card-title #{firstWord.word}
          hr
          - var hasDescription = firstWord.description
          if hasDescription
            p.card-text.text-muted.word-description #{firstWord.description}
          else
            p.card-text.text-muted.small-font No description
    div.col-sm-5
      div.card
        - var secondWord = wordMap.get(combination.secondWordId)
        div.card-header
          span.word-username #{secondWord.username}
          span.word-creation-day #{firstWord.formattedCreatedAt}
          if secondWord.isUpdated
            span.small-font.text-muted (編集済み)
        div.card-body
          h5.card-title #{secondWord.word}
          hr
          - var hasDescription = secondWord.description
          if hasDescription
            p.card-text.text-muted.word-description #{secondWord.description}
          else
            p.card-text.text-muted.small-font No description
  div.my-3
    div.form-group
      textarea(name="comment" placeholder="コメントを入力" rows="4").form-control
    button(
      data-combination-id=combination.combinationId)#comment-button.btn.btn-info 送信
  div
    h3 コメント
    p.comment-counter #{combination.commentCounter}件のコメント
    hr
    div#comment-area
      - var hasComment = comments.length > 0
      if hasComment
        each comment in comments
          div(id=`${comment.commentNumber}`).comment-container
            span.comment-username #{comment.user.username}
            span.comment-creation-day #{comment.formattedCreatedAt}
            div.comment #{comment.comment}
            - var isMine = parseInt(user.id) === comment.createdBy
            if isMine
              button(
                data-combination-id=comment.combinationId
                data-comment-number=comment.commentNumber).comment-delete-button.btn.btn-outline-secondary.btn-sm 削除
            hr
