extends layout

block content
  div.row
    div.col-sm-2
      - var favorite = favoriteInfo
      - var favoriteLabels = ['お気に入りに追加','お気に入りから削除']
      button(
        data-user-id=user.id
        data-combination-id=combination.combinationId
        data-favorite=favorite).favorite-button #{favoriteLabels[favorite]}
      span.favorite-counter #{combination.favoriteCounter}
    div.col-sm-5
      div.card
        - var firstWord = wordMap.get(combination.firstWordId)
        div.card-header
          a(href=`/users/${firstWord.createdBy}/mywords`).card-link.word-username #{firstWord.username}
          span.word-creation-day #{firstWord.formattedCreatedAt}
          if firstWord.isUpdated
            span.small-font.text-muted (編集済)
        div.card-body
          h5.card-title #{firstWord.word}
          hr
          - var hasDescription = firstWord.description
          if hasDescription
            p.card-text.text-muted.word-description #{firstWord.description}
          else
            p.card-text.text-muted.small-font No description
    div.col-sm-5
      div.card
        - var secondWord = wordMap.get(combination.secondWordId)
        div.card-header
          a(href=`/users/${secondWord.createdBy}/mywords`).card-link.word-username #{secondWord.username}
          span.word-creation-day #{firstWord.formattedCreatedAt}
          if secondWord.isUpdated
            span.small-font.text-muted (編集済み)
        div.card-body
          h5.card-title #{secondWord.description}
          hr
          - var hasDescription = secondWord.description
          if hasDescription
            p.card-text.text-muted.word-description #{secondWord.description}
          else
            p.card-text.text-muted.small-font No description
  div
    div#comment-error-alert
    textarea(name="comment" placeholder="コメントを入力")
    button(
      data-combination-id=combination.combinationId)#comment-button 送信
  div
    h3 コメント
    p.comment-counter #{combination.commentCounter}件のコメント
    hr
    div#comment-area
      - var hasComment = comments.length > 0
      if hasComment
        each comment in comments
          div(id=`${comment.commentNumber}`).comment-container
            a(href=`/users/${comment.createdBy}/mywords`).comment-username #{comment.user.username}
            span.comment-creation-day #{comment.formattedCreatedAt}
            div.comment #{comment.comment}
            - var isMine = parseInt(user.id) === comment.createdBy
            if isMine
              button(
                data-combination-id=comment.combinationId
                data-comment-number=comment.commentNumber).comment-delete-button.btn.btn-outline-secondary.btn-sm 削除
            hr
