extends layout

block content
  p.my-3 Welcome to オリジナルアプリ（仮）
  if user
    div
      a(href=`/users/${user.id}/mywords`) 自分の投稿一覧
    div
      a(href=`/users/${user.id}/favorites`) 自分のお気に入り一覧
    div
      a(href="/words/new") 投稿を作成する
    - var hasCombination = combinations.length > 0
    if hasCombination
      h3 組み合わせ一覧
      each combination in combinations
        div.row
          div.col-sm-2
            - var favorite = favoriteMap.get(combination.combinationId)
            - var favoriteIconColor = ['md-dark', 'favorite-icon-pink']
            div.favorite-action
              div(
                data-user-id=user.id
                data-combination-id=combination.combinationId
                data-favorite=favorite).favorite-button
                i(class=`material-icons md-36 favorite-icon ${favoriteIconColor[favorite]}` ) favorite_border
              span.favorite-counter #{combination.favoriteCounter}
            div.comment-action 
              a(href=`/combinations/${combination.combinationId}`).jamp-to-comment-button
                i.material-icons.md-36.md-dark.reverse.comment-icon chat_bubble_outline
              span #{combination.commentCounter}件   
          div.col-sm-5
            div.card
              - var firstWord = wordMap.get(combination.firstWordId)
              div.card-header
                a(href=`/users/${firstWord.createdBy}/mywords`).card-link.word-username #{firstWord.username}
                span.word-creation-day #{firstWord.formattedCreatedAt}
                if firstWord.isUpdated 
                 span.small-font.text-muted (編集済)
              div.card-body
                h5.card-title #{firstWord.word}
                hr
                - var hasDescription = firstWord.description
                if hasDescription
                  p.card-text.text-muted.word-description #{firstWord.description}
                else
                  p.card-text.text-muted.small-font No description
          div.col-sm-5
            div.card
              - var secondWord = wordMap.get(combination.secondWordId)
              div.card-header
                a(href=`/users/${secondWord.createdBy}/mywords`).card-link.word-username #{secondWord.username}
                span.word-creation-day #{secondWord.formattedCreatedAt}
                if secondWord.isUpdated
                  span.small-font.text-muted (編集済)
              div.card-body
                h5.card-title #{secondWord.word}
                hr
                - var hasDescription = secondWord.description
                if hasDescription
                  p.card-text.text-muted.word-description #{secondWord.description}
                else
                  p.card-text.text-muted.small-font No description
  



