extends layout

block content
  ul.nav.nav-tabs.my-3
    li.nav-item
      a(href=`/users/${user.id}/mywords`).nav-link.active 投稿一覧 
    li.nav-item
      a(href=`/users/${user.id}/favorites`).nav-link お気に入り一覧
  - var hasMyWord = words.length > 0
  if hasMyWord
    each word in words
      div.card.w-50.mx-auto.mb-3
        div.card-header
          span.word-username #{word.user.username}
          span.word-creation-day #{word.formattedCreatedAt}
          if word.isUpdated
            span.small-font.text-muted (編集済)
        div.card-body
          h5.card-title #{word.word}
          hr
          - var hasDescription = word.description
          if hasDescription
            p.card-text.text-muted.word-description #{word.description}
          else
            p.card-text.text-muted.small-font No description
        div.card-footer
          a(href=`/words/${word.wordId}/edit`).card-link.btn.btn-outline-main-color.btn-sm.word-edit-button 編集
          form(method="post" action=`/words/${word.wordId}?delete=1` style="display: inline;")
            button(
              data-word-id=word.wordId).btn.btn-outline-secondary.btn-sm 削除
  else
    div.empty-message-container
      p まだ投稿がありません
      div
          a(href="/words/new").btn.btn-main-color 投稿を作成する