extends layout

block content
  h3 投稿一覧
  each word in words
    div.card
      div.card-body
        h5.card-title #{word.word}
        hr
        - var hasDescription = word.description !== ""
        if hasDescription
          p(style="font-size: 80%; white-space: pre-wrap;").card-text.text-muted #{word.description}
        else
          p(style="font-size: 80%;").text-muted No description
        - var isMine = parseInt(user.id) === word.createdBy
        if isMine
          hr
          a(href=`/words/${word.wordId}/edit` style="margin-right: 50px").card-link.btn.btn-outline-primary.btn-sm 編集
          form(method="post" action=`/words/${word.wordId}?delete=1` style="display: inline;")
            button(
              data-word-id=word.wordId).btn.btn-outline-secondary.btn-sm 削除